
.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;

}

.leftop{
    display: flex;
    align-items: center;
    gap: 10px;
}

.righttop{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.leftop button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    font-display: swap;
    animation: glow 1s ease-in-out infinite alternate;

}

.leftop button:hover{
    background-color: #ffa4a4;
}

.righttop button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.righttop button:hover{
    background-color: #ffa4a4;
}

.reels{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.topreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.bottomreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.like{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dislike{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.buttonsreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.like button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

.like button:hover{
    background-color: #ffa4a4;
}

.dislike button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dislike button:hover{
    background-color: #ffa4a4;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: white;
    /* cursor: pointer; */
}

.reel{
    transition: border-color 0.3s ease, transform 0.5s ease;
}

.reel:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.768);
}

* {
    transition: 300ms;
}

.topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;

}

.leftop{
    display: flex;
    align-items: center;
    gap: 10px;
}

.righttop{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.leftop button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Inter', sans-serif;
    font-size: xx-large;
    font-weight: 700;
    font-display: swap;
    animation: glow 1s ease-in-out infinite alternate;

}

.leftop button:hover{
    background-color: #ffa4a4;
}

.righttop button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.righttop button:hover{
    background-color: #ffa4a4;
}

.reels{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.topreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.bottomreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.alignment{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.like{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dislike{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.buttonsreel{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.like button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

.like button:hover{
    background-color: #ffa4a4;
}

.dislike button{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}

.dislike button:hover{
    background-color: #ffa4a4;
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    background-color: white;
    /* cursor: pointer; */
}

.reel{
    transition: border-color 0.3s ease, transform 0.5s ease;
}

.reel:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.768);
}

* {
    transition: 300ms;
}
